<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Dashboard</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table td,
        table th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <a href="/admin/posts">文章</a>
        <a href="/admin/comments">评论</a>
    </div>

    {% block main %}
    {% endblock main %}

</body>

</html>