{% extends "layout_guest.html" %}
{% block title %}
{{ article.title }}
{% endblock title %}
{% block body %}
<div class="mdui-card mdui-hoverable mdui-m-y-3">
    <div class="mdui-card-primary">
        <div class="mdui-card-primary-title mdui-text-color-theme-accent">
            {{ article.title }}
        </div>
        <div class="mdui-card-primary-subtitle mdui-text-color-theme-text">
            {{ timestamp2time(timestamp = article.created) }}
        </div>
    </div>
    <div class="mdui-card-content mdui-typo">{{ article.content | safe }}</div>
</div>
{% endblock body %}