.mdui-drawer {
    top: 64px;
    background-color: #fafafa;
}

.box {
    height: 64px;
}

.mdui-textfield-expandable.mdui-textfield-expanded {
    width: 30%;
}

a {
    text-decoration: none;
}

/* center div by top50 and left 50*/
.center {
    min-width: 500px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}