{% extends "layout.html" %}
{% block main %}

<h1>
    {% if is_posts %}
    文章
    {% elif is_comments %}
    评论
    {% endif %}
</h1>

<table>
    <thead>
        {% if is_posts %}
        <tr>
            <th scope="col">#</th>
            <th scope="col">标题</th>
            <th scope="col">创建时间</th>
            <th scope="col">是否发布</th>
            <th scope="col">操作</th>
        </tr>
        {% elif is_comments %}
        <tr>
            <th scope="col">#</th>
            <th scope="col">所属文章id</th>
            <th scope="col">评论用户</th>
            <th scope="col">评论内容</th>
            <th scope="col">操作</th>
        </tr>
        {% endif %}


    </thead>
    <tbody>
        {% for content in contents %}
        {% if is_posts %}
        <tr>
            <th scope="row">{{ content.aid }}</th>
            <td>{{ content.title }}</td>
            <td>{{ timestamp2time(timestamp = content.created) }}</td>
            <td>{{ content.published }}</td>
            <td>
                <form action="/admin/delete" method="post">
                    <div role="group" aria-label="Basic example">
                        <input name="aid" value="{{ content.aid }}" hidden>
                        <a href="/admin/update?aid={{ content.aid }}" type="button">Edit</a>
                        <button type="submit">Delete</button>
                    </div>
                </form>
            </td>
        </tr>
        {% elif is_comments %}
        <tr>
            <th scope="row">{{ content.cid }}</th>
            <td>{{ content.aid }}</td>
            <td>{{ content.author }}</td>
            <td>{{ content.text }}</td>
            <td>
                <form action="/comment" method="post">
                    <div role="group" aria-label="Basic example">
                        <input name="cid" value="{{ content.cid }}" hidden>
                        <input name="method" value="delete" hidden>
                        <button type="submit">Delete</button>
                    </div>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<!-- End Table with stripped rows -->
{% if not is_comments %}
<div>
    <a href="/admin/new">新建</a>
</div>
{% endif %}
{% endblock %}