{% extends "layout.html" %}
{% block main %}

<h1>编辑</h1>



<form method="post" action="/admin/update">


    <input name="aid" value="{{ article.aid }}" hidden>
    <input name="created" value="{{ article.created }}" hidden>
    <input name="comments_num" value="{{ article.comments_num }}" hidden>

    <div>
        <input type="text" name="title" id="floatingName" value="{{ article.title }}" placeholder="Title">
        <label for="floatingName">标题</label>
    </div>
    <div>
        <textarea name="content" id="floatingTextarea" style="height: 300px;">{{ article.content }}</textarea>
        <label for="floatingTextarea">内容</label>
    </div>
    <div>
        {% if article.published %}
        <input type="checkbox" id="published" name="published" value="true" checked>
        {% else %}
        <input type="checkbox" id="published" name="published" value="true">
        {% endif %}
        <label for="customCheck1">发布</label>
    </div>
    <div>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>
</form>


{% endblock %}